* {
	box-sizing:border-box;
}

html {
	width:100%;
	height:100%;
}

body {
	width:100%;
	height:100%;
	background-image: url('../images/default.png');
	background-repeat: no-repeat;
	background-size: 25%;
	background-position: center;
	animation: pulse 1.6s ease-out infinite;
}

@keyframes pulse {
	0% {
		background-size: 25%;
	}

	40% {
		background-size: 50%;
	}

	80% {
		background-size: 25%;
	}

	100% {
		background-size: : 25%;
	}
}

